@model List<Postagem>
    
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog da Ana<h1>
    <p>Noticias sobre Literatura e Tecnologia</p>
</div>

@foreach (Postagem postagem in Model){
    <p>@postagem.Id</p>
    <p>@postagem.Nome</p>
    <p>@postagem.Categoria</p>
    <p>@postagem.Foto</p>
}